# 제로베이스 데이터 사이언스 스쿨 3기 SQL 과제 2
- 유가 데이터 분석

### 8문제 총 100점

- 1번 5점
- 2번 5점 
- 3번 10점 
- 4번 30점 
- 5번 10점 
- 6번 10점
- 7번 15점 
- 8번 15점

### 1 ~ 8번 모두 본 노트북 파일에 답안 작성해서 제출해주세요 :)

---

문제 1. 

주유소 데이터를 저장할 테이블을 다음의 구조로 생성하세요. (PDF 파일 참고)

In [1]:
import mysql.connector

oneday = mysql.connector.connect(
    host = 'oneday.cg9o7spxrfwt.ap-northeast-2.rds.amazonaws.com',
    port = 3306,
    user = 'oneday',
    password = 'zerobase',
    database = 'oneday'
)
cursor = oneday.cursor(buffered=True)

cursor.execute("""CREATE TABLE GAS_BRAND (
                    id int PRIMARY KEY AUTO_INCREMENT,
                    name varchar(16)
                  );
               """)

cursor.execute("""CREATE TABLE GAS_STATION (
                    id int PRIMARY KEY AUTO_INCREMENT,
                    brand int, FOREIGN KEY(brand) REFERENCES GAS_BRAND(id),
                    name varchar(64),
                    city char(2),
                    gu varchar(10),
                    address varchar(128),
                    gasoline int,
                    diesel int,
                    self boolean,
                    car_wach boolean,
                    charging_station boolean,
                    car_maintenance boolean,
                    convenience_store boolean,
                    24_hours boolean,
                    lat decimal(16, 14),
                    lng decimal(17, 14)
                  );
               """)
oneday.commit()

문제 2. 

Python 코드로 GAS_BRAND 데이터를 다음과 같이 입력하고 확인하세요. (PDF 파일 참고)

In [2]:
cursor.execute("insert into GAS_BRAND (id, name) values (1, 'SK에너지')")
cursor.execute("insert into GAS_BRAND (id, name) values (2, '현대오일뱅크')")
cursor.execute("insert into GAS_BRAND (id, name) values (3, 'GS칼텍스')")
cursor.execute("insert into GAS_BRAND (id, name) values (4, 'S-OIL')")
cursor.execute("insert into GAS_BRAND (id, name) values (5, '알뜰주유소')")
cursor.execute("insert into GAS_BRAND (id, name) values (6, '자가상표')")

제출 1.
- Table 생성 결과 : Desc GAS_BRAND; Desc GAS_STATION;

In [3]:
cursor.execute("Desc GAS_BRAND;")
cursor.execute("Desc GAS_STATION;")
rows = cursor.fetchall()
for row in rows:
    print(row)

('id', b'int', 'NO', 'PRI', None, 'auto_increment')
('brand', b'int', 'YES', 'MUL', None, '')
('name', b'varchar(64)', 'YES', '', None, '')
('city', b'char(2)', 'YES', '', None, '')
('gu', b'varchar(10)', 'YES', '', None, '')
('address', b'varchar(128)', 'YES', '', None, '')
('gasoline', b'int', 'YES', '', None, '')
('diesel', b'int', 'YES', '', None, '')
('self', b'tinyint(1)', 'YES', '', None, '')
('car_wach', b'tinyint(1)', 'YES', '', None, '')
('charging_station', b'tinyint(1)', 'YES', '', None, '')
('car_maintenance', b'tinyint(1)', 'YES', '', None, '')
('convenience_store', b'tinyint(1)', 'YES', '', None, '')
('24_hours', b'tinyint(1)', 'YES', '', None, '')
('lat', b'decimal(16,14)', 'YES', '', None, '')
('lng', b'decimal(17,14)', 'YES', '', None, '')

제출 2.
- GAS_BRAND 조회 결과 : SELECT * FROM GAS_BRAND;

In [4]:
cursor.execute("SELECT * FROM GAS_BRAND;")
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'SK에너지')
(2, '현대오일뱅크')
(3, 'GS칼텍스')
(4, 'S-OIL')
(5, '알뜰주유소')
(6, '자가상표')

문제 3. 

다음의 함수와 그 함수를 테스트하는 코드를 작성하세요. (PDF 파일 참고)

- 화폐단위 문자형을 입력받아 숫자형으로 반환하는 함수 (테스트 입력 : ‘1,000’)
- 주유소 브랜드를 입력하면 GAS_BRAND 데이터를 참고하여 ID 를 반환하는 함수 (테스트 입력 : ‘SK에너지’) - 주소를 입력받아 구 이름을 반환하는 함수 (테스트 입력 : ‘서울시 강남구 헌릉로 730’)
- 주소를 입력받아 위도, 경도를 반환하는 함수 (테스트 입력 : ‘서울시 강남구 헌릉로 730’)

제출 3.
- 각 함수 및 테스트 코드와 실행결과

In [5]:
def str_to_int(money_str):
    return int(money_str.replace(',', ''))

def get_gas_brand_id(brand_name):
    cursor.execute("SELECT id FROM GAS_BRAND WHERE name = %s", (brand_name,))
    result = cursor.fetchone()
    if result:
        return result[0]
    else:
        return None
    
import requests

# 주소를 입력받아 구 이름을 반환하는 함수
def get_gu_name(address):
    url = "https://dapi.kakao.com/v2/local/search/address.json"
    headers = {"Authorization": "KakaoAK 2644b6a83c3ca84cae5c69c7d4258efc"}
    params = {"query": address}
    response = requests.get(url, headers=headers, params=params)
    if response.status_code == 200:
        result = response.json()["documents"][0]["address"]
        gu_name = result["region_2depth_name"]
        return gu_name
    else:
        return None

# 주소를 입력받아 위도, 경도를 반환하는 함수
def get_lat_lng(address):
    url = "https://dapi.kakao.com/v2/local/search/address.json"
    headers = {"Authorization": "KakaoAK 2644b6a83c3ca84cae5c69c7d4258efc"}
    params = {"query": address}
    response = requests.get(url, headers=headers, params=params)
    if response.status_code == 200:
        try:
            result = response.json()["documents"][0]["address"]
            latitude = result["y"]
            longitude = result["x"]
            return latitude, longitude
        except:
            latitude = ""
            longitude = ""
            return latitude, longitude
    else:
        return None

In [6]:
print(str_to_int('1,000'), type(str_to_int('1,000')))
print(get_gas_brand_id('SK에너지'))

# 주소를 입력받아 구 이름과 위도, 경도를 반환하는 함수 테스트
address = "서울시 강남구 헌릉로 730"
gu_name = get_gu_name(address)
latitude, longitude = get_lat_lng(address)
print("구 이름:", gu_name)
print("위도:", latitude)
print("경도:", longitude)

1000 <class 'int'>
1
구 이름: 강남구
위도: 37.466556801977
경도: 127.119065437775

문제 4. 

Python 코드에서 주유소 페이지에서 데이터를 가져올때, GAS_STATION 테이블에 바로 입력하도록 수정하세요. (앞서 생 성한 함수활용)
- 주의. city 는 ‘서울’ 로 고정, 부가정보 데이터 타입
- 입력된 데이터의 총 갯수를 쿼리하여 결과를 확인합니다. - 입력된 데이터 상위 10개를 쿼리하여 결과를 확인합니다.


제출 4.
- 주유소 데이터 관련 코드 (ipynb)

In [7]:
import pandas as pd
import numpy as np
from urllib.request import urlopen, Request
from selenium import webdriver
from selenium.webdriver.common.by import By
from bs4 import BeautifulSoup
import time
import re
from tqdm import tqdm_notebook
import googlemaps

url = "https://www.opinet.co.kr/searRgSelect.do"
driver = webdriver.Chrome("../driver/chromedriver") # windows .exe 
driver.get(url)
driver.switch_to.window(driver.window_handles[0])
driver.get(url)
time.sleep(3)

driver.find_element(By.ID, "SIDO_NM0").send_keys("서울")

gu_list_raw = driver.find_element(By.ID, "SIGUNGU_NM0") # 부모 태그 
gu_list = gu_list_raw.find_elements(By.TAG_NAME, "option") # 자식 태그 

gu_names = [option.get_attribute("value") for option in gu_list]
gu_names = gu_names[1:]

oil_data = []

for gu in tqdm_notebook(gu_names):
    driver.find_element(By.CSS_SELECTOR, "#SIGUNGU_NM0").send_keys(gu)
    search_result = int(driver.find_element(By.CSS_SELECTOR, "span > #totCnt").text)

    for juyuso in range(1, search_result + 1):
        driver.find_element(By.CSS_SELECTOR, f"#body1 > tr:nth-child({juyuso}) > td.rlist > a").click()
        html = driver.page_source
        soup = BeautifulSoup(html, "html.parser")
    
        주유소명 = soup.select_one("#os_nm").text
        주소 = soup.select_one("#rd_addr").text
        브랜드 = soup.select_one("#poll_div_nm").text
        휘발유 = soup.select_one("#b027_p").text
        경유 = soup.select_one("#d047_p").text

        try:
            soup.select_one("#self_icon")["id"] == 'self_icon'
            셀프여부 = 1 # 셀프에 저장
        except:
            셀프여부 = 0 # 셀프에 저장
            
        if "off" in soup.select_one('#cwsh_yn')['src']:
            세차장 = 1
        else:
            세차장 = 0
        if "off" in soup.select_one('#lpg_yn')['src']:
            충전소 = 1
        else:
            충전소 = 0
        if "off" in soup.select_one('#maint_yn')['src']:
            경정비 = 1
        else:
            경정비 = 0
        if "off" in soup.select_one('#cvs_yn')['src']:
            편의점 = 1
        else:
            편의점 = 0
        if "off" in soup.select_one('#sel24_yn')['src']:
            올타임 = 1
        else:
            올타임 = 0

        구 = soup.select_one('#rd_addr').text.split()[1]
        
        time.sleep(1)
    
        oil_data.append({
            "주유소명":주유소명,
            "주소":주소,
            "브랜드":브랜드,
            "휘발유":휘발유,
            "경유":경유,
            "셀프여부":셀프여부,
            "세차장":세차장,
            "충전소":충전소,
            "경정비":경정비,
            "편의점":편의점,
            "올타임":올타임,
            "구":구
        })

driver.close() 

oil_df = pd.DataFrame(oil_data)
oil_df["lat"] = np.nan
oil_df["lng"] = np.nan
oil_df['city'] = '서울'

for i, row in oil_df.iterrows():
    oil_df['휘발유'][i] = str_to_int(row.휘발유)
    oil_df['경유'][i] = str_to_int(row.경유)
    oil_df['브랜드'][i] = get_gas_brand_id(row.브랜드)
    oil_df['lat'][i], oil_df['lng'][i] = get_lat_lng(row.주소)

sql = """insert into GAS_STATION (name, address, brand, gasoline, diesel, self, car_wach, charging_station, car_maintenance, convenience_store, 24_hours, gu, lat, lng, city)
         values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
      """

for i, row in oil_df.iterrows():
    cursor.execute(sql, tuple(row))
    
oneday.commit()

cursor.execute("SELECT * FROM COFFEE_STORE LIMIT 10")
rows = cursor.fetchall()
for row in rows:
    print(row)

C:\Users\User\AppData\Local\Temp\ipykernel_39220\4261340524.py:13: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome("../driver/chromedriver") # windows .exe
C:\Users\User\AppData\Local\Temp\ipykernel_39220\4261340524.py:29: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for gu in tqdm_notebook(gu_names):

  0%|          | 0/25 [00:00<?, ?it/s]

C:\Users\User\AppData\Local\Temp\ipykernel_39220\4261340524.py:98: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  oil_df['휘발유'][i] = str_to_int(row.휘발유)
C:\Users\User\AppData\Local\Temp\ipykernel_39220\4261340524.py:99: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  oil_df['경유'][i] = str_to_int(row.경유)
C:\Users\User\AppData\Local\Temp\ipykernel_39220\4261340524.py:100: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  oil_df['브랜드'][i] = get_gas_brand_id(row.브랜드)
C:\Users\User\AppData\Local\Temp\ipykernel_39220\4261340524.py:101: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  oil_df['lat'][i], oil_df['lng'][i] = get_lat_lng(row.주소)

(1, 1, '역삼아레나빌딩', '강남구', '서울특별시 강남구 언주로 425 (역삼동)', Decimal('37.50108700000000'), Decimal('127.04306900000000'))
(2, 1, '논현역사거리', '강남구', '서울특별시 강남구 강남대로 538 (논현동)', Decimal('37.51017800000000'), Decimal('127.02222300000000'))
(3, 1, '신사역성일빌딩', '강남구', '서울특별시 강남구 강남대로 584 (논현동)', Decimal('37.51393090000000'), Decimal('127.02060570000000'))
(4, 1, '국기원사거리', '강남구', '서울특별시 강남구 테헤란로 125 (역삼동)', Decimal('37.49951700000000'), Decimal('127.03149500000000'))
(5, 1, '대치재경빌딩R', '강남구', '서울특별시 강남구 남부순환로 2947 (대치동)', Decimal('37.49466800000000'), Decimal('127.06258300000000'))
(6, 1, '봉은사역', '강남구', '서울특별시 강남구 봉은사로 619 (삼성동)', Decimal('37.51500000000000'), Decimal('127.06319600000000'))
(7, 1, '압구정윤성빌딩', '강남구', '서울특별시 강남구 논현로 834 (신사동)', Decimal('37.52279340000000'), Decimal('127.02860090000000'))
(8, 1, '코엑스별마당', '강남구', '서울특별시 강남구 영동대로 513 (삼성동)', Decimal('37.51015000000000'), Decimal('127.06027500000000'))
(9, 1, '삼성역섬유센터R', '강남구', '서울특별시 강남구 테헤란로 518 (대치동)', Decimal('37.50775000000000'), Decimal('127.06065100000000'))
(10, 1, '압구정R', '강남구', '서울특별시 강남구 언주로 861 (신사동)', Decimal('37.52736690000000'), Decimal('127.03306100000000'))

문제 5. 

시각화 프로젝트를 위하여 다음의 규칙으로 쿼리하여 CSV 파일로 저장합니다. (Python 코드로 작성)
- 전체 데이터를 가져오는데, 주유소 브랜드 아이디 대신 브랜드명이 표시되어야 합니다. (정렬 : 주유소 매장 아이디 순)
- 다음의 형식으로 저장되어야 함 (브랜드 이름, 칼럼 명 주의, id : GAS_STORE.id)

제출 5.
- 시각화 프로젝트 관련 코드 (ipynb), 결과 파일 (csv)

In [8]:
cursor.execute("""
               SELECT b.id, a.name as brand, b.name, b.city, b.gu, b.address, b.gasoline, b.diesel, b.`self`, b.car_wach, b.charging_station, b.car_maintenance, convenience_store, b.`24_hours`, b.lat, b.lng 
               FROM GAS_STATION b
               JOIN GAS_BRAND a
               ON b.brand = a.id
               ORDER BY b.id""")
df_oil = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]
result = [columns, *df_oil]
df_oil = pd.DataFrame(result)
df_oil.to_csv('sql2_result.csv', sep=',', header=False, index=False, encoding='euc-kr')
df_oil

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,id,brand,name,city,gu,address,gasoline,diesel,self,car_wach,charging_station,car_maintenance,convenience_store,24_hours,lat,lng
1,1,SK에너지,(주)보성 세곡주유소,서울,강남구,서울 강남구 헌릉로 731 (세곡동),1653,1575,1,0,1,1,1,1,37.46727171839110,127.11874259826700
2,2,SK에너지,자곡셀프주유소,서울,강남구,서울 강남구 밤고개로 120 (자곡동),1699,1595,1,0,1,1,1,1,37.48353368704130,127.10401179771100
3,3,현대오일뱅크,삼성동주유소,서울,강남구,서울 강남구 테헤란로 619 (삼성동),1699,1609,1,0,1,1,1,1,37.50991551514710,127.06511520735100
4,4,현대오일뱅크,현대오일뱅크 도곡셀프주유소,서울,강남구,서울 강남구 남부순환로 2718 (도곡2동),1699,1654,1,0,1,0,1,1,37.48541508140690,127.04331937509800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
435,436,SK에너지,용마로주유소,서울,중랑구,서울 중랑구 용마산로 309 (면목동),1678,1578,1,0,1,1,1,1,37.57988516640840,127.09222532024500
436,437,S-OIL,(주)기지에너지,서울,중랑구,서울 중랑구 용마산로 716 (신내동),1679,1549,0,1,1,1,1,1,37.61477309100190,127.10194333031400
437,438,SK에너지,신내주유소,서울,중랑구,서울 중랑구 용마산로 705 (신내동),1689,1558,1,0,1,1,1,1,37.61416174338090,127.10092664674100
438,439,SK에너지,신일셀프주유소,서울,중랑구,서울 중랑구 상봉로 58 (망우동),1699,1598,1,0,1,0,1,0,37.59101048566820,127.09388763403800
439,440,S-OIL,범아주유소,서울,중랑구,서울 중랑구 동일로 881 (묵동),1719,1599,0,0,1,0,1,1,37.60922870670760,127.07762721268200

문제 6. 

위도, 경도 정보를 이용하여 미왕빌딩에서 1킬로 이내에 위치한 주유소 정보를 검색하세요. 

- 주유소 아이디, 주유소 브랜드명, 주유소 매장명, 주소, 미왕빌딩으로 부터의 거리 (km)

제출 6.
- 쿼리, 결과

In [9]:
gmaps_key = "AIzaSyC8awub1OYEUlUzUboX4H0vq2qqOLEtXvw"
gmaps = googlemaps.Client(key=gmaps_key)

# 미왕빌딩의 주소 정보를 활용하여 위도, 경도 정보를 알아냄
address = "서울특별시 강남구 테헤란로 518"
geo = gmaps.geocode(address, language="ko")[0]
lat = geo['geometry']['location']['lat']
lng = geo['geometry']['location']['lng']

from math import radians, cos, sin, asin, sqrt

# haversine: 지구를 구(sphere)로 가정하여 두 지점의 좌표(경도, 위도)를 이용하여 지구 표면을 따라 측정한 거리
# 대원 거리(great-circle distance)를 구하는데 활용
def haversine(lat1, lon1, lat2, lon2):
    # Convert degrees to radians
    lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])

    # Haversine formula
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * asin(sqrt(a))
    # 거리 = 원의 반지름 * 떨어진 두 점의 각도
    km = 6371 * c
    return km

oil_df['lat'] = oil_df['lat'].replace('', np.nan).astype('float')
oil_df['lng'] = oil_df['lng'].replace('', np.nan).astype('float')

# 주유소 데이터프레임(df)에서 위도, 경도 정보 추출
latitudes = oil_df['lat'].tolist()
longitudes = oil_df['lng'].tolist()

# 모든 주유소와 미왕빌딩 간의 거리 계산
distances = [haversine(lat, lng, lat1, lng1) for lat1, lng1 in zip(latitudes, longitudes)]

step6 = oil_df.copy()
# step6 = step6.reset_index(drop=True)
step6['id'] = step6.index+1
step6['거리'] = distances

step6 = step6[step6['거리'] <= 1]
step6['브랜드'] = step6['브랜드'].apply(lambda x: 'SK에너지' if x == 1 else '현대오일뱅크' if x==2 else 'GS칼텍스' if x==3
                                                else 'S-OIL' if x==4 else '알뜰주유소' if x==5 else '자가상표')
step6[['id', '브랜드', '주유소명', '주소', '거리']]

    id     브랜드            주유소명                     주소        거리
4    5  현대오일뱅크          삼성동주유소  서울 강남구 테헤란로 619 (삼성동)  0.480484
24  25   GS칼텍스  지에스칼텍스㈜ 삼성로주유소   서울 강남구 삼성로 563 (삼성동)  0.792614
25  26   GS칼텍스    (주)소모 쎈트럴주유소         서울 강남구 삼성로 335  0.684594

문제 7. 

위도, 경도 정보를 이용하여 미왕빌딩에서 셀프주유가 가능하고 24시간이면서 편의점이 있는 가장 가까운 주유소 10개를 휘 발유 가격이 가장 저렴한 순으로 정렬하여 조회하세요.

- 주유소 아이디, 주유소 브랜드명, 주유소 매장명, 주소, 휘발유 가격, 부가정보 (셀프, 24시간, 편의점 여부), 미왕빌딩으로 부터의 거리 (km)


제출 7.
- 쿼리, 결과

In [10]:
step7 = oil_df.copy()
step7 = step7.reset_index(drop=True)
step7['id'] = step7.index+1
step7['거리'] = distances
step7 = step7[(step7["셀프여부"] == 1) & (step7['올타임'] == 1) & (step7['편의점'] == 1)]
step7 = step7.sort_values('거리', ascending=True).head(10)
step7 = step7.sort_values('휘발유', ascending=True)
step7

,주유소명,주소,브랜드,휘발유,경유,셀프여부,세차장,충전소,경정비,편의점,올타임,구,lat,lng,city,id,거리
308,(주)삼표에너지 아시아주유소,서울 송파구 도곡로 438 (잠실동),3,1643,1547,1,0,1,1,1,1,송파구,37.504611,127.077394,서울,309,1.511781
113,현대오일뱅크㈜직영 장호셀프주유소,서울 광진구 자양로 37 (자양동),2,1676,1545,1,0,1,0,1,1,광진구,37.531320,127.085855,서울,114,3.462341
1,현대오일뱅크 도곡셀프주유소,서울 강남구 남부순환로 2718 (도곡2동),2,1679,1654,1,0,1,0,1,1,강남구,37.485415,127.043319,서울,2,2.888074
319,한강에너지(주)퍼스트주유소,서울 송파구 삼학사로 22 (석촌동),1,1695,1527,1,0,1,0,1,1,송파구,37.499308,127.097184,서울,320,3.349026
4,삼성동주유소,서울 강남구 테헤란로 619 (삼성동),2,1699,1609,1,0,1,1,1,1,강남구,37.509916,127.065115,서울,5,0.480484
236,에쓰오일(주)직영 오토테크주유소,서울특별시 서초구 효령로 356 (서초동),4,1699,1659,1,0,1,0,1,1,서초구,37.486497,127.023064,서울,237,4.051967
249,반포그린주유소,서울 서초구 서초중앙로 239 (반포동),3,1728,1675,1,0,1,1,1,1,서초구,37.503205,127.010877,서울,250,4.414610
12,SK에너지(주) 매봉주유소,서울 강남구 언주로 307,1,1749,1729,1,0,1,0,1,1,강남구,37.494886,127.045838,서울,13,1.912607
15,일원주유소,서울 강남구 양재대로55길 3 (일원동),4,1775,1617,1,1,1,1,1,1,강남구,37.491058,127.087819,서울,16,3.012625
14,(주)중앙에너비스 수서지점,서울 강남구 광평로 202 (수서동),1,1775,1617,1,0,1,1,1,1,강남구,37.484031,127.094990,서울,15,3.996437

문제 8. 

구별로 주유소 브랜드 별 휘발유 평균가격을 조회하여 저렴한 순으로 출력하세요. 

- 구 이름, 주유소 브랜드 이름, 휘발유 평균 가격

제출 8.
- 쿼리, 결과

In [28]:
oil_df['브랜드'] = oil_df['브랜드'].apply(lambda x: 'SK에너지' if x == 1 else '현대오일뱅크' if x==2 else 'GS칼텍스' if x==3
                                                else 'S-OIL' if x==4 else '알뜰주유소' if x==5 else '자가상표')
step8 = oil_df.pivot_table(values='휘발유', index='구', columns='브랜드', aggfunc='mean')
step8 = step8[['SK에너지', '현대오일뱅크', 'GS칼텍스', 'S-OIL', '알뜰주유소', '자가상표']]
step8.columns = ['SK에너지', '현대오일뱅크', 'GS칼텍스', 'S-OIL', '알뜰주유소', '자가상표']

step8['평균'] = step8.mean(axis=1)
step8 = step8.sort_values(by='평균', ascending=True)
step8

,SK에너지,현대오일뱅크,GS칼텍스,S-OIL,알뜰주유소,자가상표,평균
구,,,,,,,
강북구,1655.250000,1641.666667,1632.333333,1618.500000,NaN,NaN,1636.937500
중랑구,1680.250000,1625.000000,1648.333333,1675.000000,NaN,NaN,1657.145833
도봉구,1643.000000,1675.833333,1659.000000,1653.000000,NaN,NaN,1657.708333
양천구,1684.750000,1697.777778,1666.800000,1625.000000,1643.0,NaN,1663.465556
은평구,1649.666667,1623.250000,1638.000000,1657.000000,NaN,1763.0,1666.183333
서대문구,1711.500000,1658.666667,1645.500000,1661.666667,NaN,NaN,1669.333333
성북구,1661.333333,1676.714286,1733.333333,1690.500000,1619.0,NaN,1676.176190
송파구,1709.800000,1699.666667,1663.875000,1650.200000,NaN,NaN,1680.885417
동대문구,1665.600000,1699.666667,1685.000000,1696.750000,NaN,NaN,1686.754167
강서구,1719.818182,1669.000000,1697.285714,1724.666667,1631.0,NaN,1688.354113
금천구,1688.000000,1721.000000,1695.000000,1680.000000,1675.0,NaN,1691.800000
광진구,1737.333333,1667.333333,1673.000000,1702.333333,NaN,NaN,1695.000000
영등포구,1767.750000,1687.571429,1746.500000,1651.333333,1625.0,NaN,1695.630952
마포구,1718.166667,1697.333333,NaN,1694.000000,NaN,NaN,1703.166667
노원구,1696.333333,1717.500000,1696.666667,1719.333333,NaN,NaN,1707.458333
서초구,1767.857143,1723.400000,1729.363636,1752.833333,NaN,1588.0,1712.290823
관악구,1719.500000,1703.250000,1799.000000,1752.000000,1685.0,NaN,1731.750000
동작구,1835.000000,1732.800000,1697.000000,1689.000000,NaN,NaN,1738.450000
구로구,1667.500000,1711.714286,1876.000000,1729.500000,NaN,NaN,1746.178571
강동구,1725.000000,1738.000000,1710.800000,1849.000000,NaN,NaN,1755.700000
성동구,1825.833333,1768.000000,1938.666667,1661.500000,NaN,1645.0,1767.800000
강남구,1860.538462,1927.875000,2079.777778,1872.750000,NaN,NaN,1935.235310
종로구,2027.333333,1719.000000,2255.000000,1784.500000,NaN,NaN,1946.458333
중구,2178.750000,1828.000000,2373.000000,1712.000000,1738.0,NaN,1965.950000
용산구,2155.666667,1811.750000,2352.000000,NaN,NaN,NaN,2106.472222