# 제로베이스 데이터 사이언스 스쿨 EDA Level Test 6
## 문제 소개 
- 총 3단계 데이터 분석 상황 제시
<br></br>
    - 1단계: DataFrame 전처리 01 - 기초
    - 2단계: DataFrame 전처리 02 - 심화
    - 3단계: 원하는 정보 얻기
<br></br>
    - 총점 100점
<br></br>
## 참고 사항
- Check Functions 셀을 반드시 실행해주세요!
- 여러분이 제출하신 답안을 채점하기 위한 코드입니다. 
- 각 문제를 푼 후 반드시, Check(예: check_01_01(df)) 함수를 실행해주시기를 바랍니다
<br></br>
- 파일 제목은 [DS]edatest_honggildong.ipynb 으로 제출해주시기 바랍니다.
    - 성부터 소문자로 작성해주세요.
- 제출은 제공드린 구글설문지를 통해 제출해주시면 감사하겠습니다.
---

# 1. Check Functions
- grading 채점 코드 안에는 각 문제 번호에 따른 check_00_00() 라는 함수가 있습니다. 

    ```
    from grading import check_01_01
    from grading import check_01_02
    from grading import check_01_03
    from grading import check_02_01
    from grading import check_02_02
    from grading import check_02_03
    from grading import check_02_04
    from grading import check_03_01
    from grading import check_03_02
    from grading import check_03_03
    from grading import check_03_04
    ```
    
- 답안을 작성하신 후에 반드시 채점 코드까지 결과값까지 포함하여 제출해주시기를 바랍니다.  

ex) 
check_01_01(df)

정답입니다! 10점 누적 되었습니다!

현재 누적 점수: 10 / 100

In [1]:
# 채점을 위한 코드입니다. 반드시 실행해주세요.
from grading import *

# 2. Datas

##### Target Data(txt): 서울시 흡연율 통계
- Source: [서울 열린데이터 광장](https://data.seoul.go.kr/dataList/10668/S/2/datasetView.do;jsessionid=C18A51D1DF6D7CE1CD05D8C842510242.new_portal-svr-11)
- Reference: [PinkWink](https://pinkwink.kr/1288?category=580892)
- DownLoad: 상기 Source(서울 열린데이터 광장)에서 2009년 - 2018년 설정하여 Download
    - 문제 출제 이후 Data 변경될 가능성이 있으므로 문제 풀이시 하기 File Path의 Data 사용
- File Path: ```'./datas/report.txt'```


##### 참고사항
- 서울 열린데이터 광장에서 해당 데이터는 다양한 Format(xls, txt, hwp)으로 제공합니다.
- 데이터에 콤마(,)가 많아 CSV로 변환이 곤란하여, 탭으로 구분하여 TXT로 제공합니다
<br></br>
- 문제에 hint가 있을 경우, 해당 hint를 이용하지 않으셔도 무방합니다.

# 3. 문제

## 1단계: DataFrame 전처리 01 - 기초
***

In [2]:
import pandas as pd

df_target = pd.read_csv('./datas/report.txt', sep='\t')
df_target.head()

     기간     구분    구분.1    전체    남자   여자
0  2009    서울시     서울시  24.3  45.5    4
1  2009  생애주기별  19~29세  24.9  43.8    6
2  2009  생애주기별  30~44세  29.9  55.1  3.8
3  2009  생애주기별  45~64세  22.6  43.2  3.3
4  2009  생애주기별  65세 이상  11.5  22.8  2.9

### 문제 1-1) 기초 전처리 01 (5점) 
- 위의 DataFrame(df_target)을 아래의 조건에 맞게 변경하세요.
<br></br>
    - 조건1: '구분' Column(열)명을 '구분1'로, '구분.1' Column(열)명을 '구분2'로 변경하세요.
<br></br>
    - 조건2: 조건1에 따라 Column(열)명을 변경한 후 '구분1'의 '서울시'를 '시'로, '**구'(예: 양천구, 영등포구)는 '구'로 변경하세요.
<br></br>
    - 조건3: Index, Column 순서 또는 Data 순서(정렬)는 변경하지 마세요.
<br></br>
    - 조건4: 'df_target' 변수에 결과 DataFrame을 할당하세요.
<br></br>
<br></br>
- 완료 후 결과 DataFrame 변수(df_target)를 check_01_01 함수에 입력하여 채점하세요.

In [3]:
df_target.rename(columns={'구분': '구분1', '구분.1': '구분2'}, inplace=True)
df_target['구분1'] = df_target['구분1'].replace('서울시', '시')
df_target['구분1'] = df_target['구분1'].str.replace(r'.(.)\구$', '구', regex=True)
df_target['구분1'] = df_target['구분1'].str.replace(r'(.)\구$', '구', regex=True)
df_target

       기간    구분1     구분2    전체    남자   여자
0    2009      시     서울시  24.3  45.5    4
1    2009  생애주기별  19~29세  24.9  43.8    6
2    2009  생애주기별  30~44세  29.9  55.1  3.8
3    2009  생애주기별  45~64세  22.6  43.2  3.3
4    2009  생애주기별  65세 이상  11.5  22.8  2.9
..    ...    ...     ...   ...   ...  ...
424  2019      구     관악구  18.0  30.3  5.6
425  2019      구     서초구  12.6  25.1  1.5
426  2019      구     강남구  14.7  26.6  4.2
427  2019      구     송파구  14.9  28.8    F
428  2019      구     강동구  18.5  34.8  2.9

[429 rows x 6 columns]

In [4]:
check_01_01(df_target)

정답입니다! 5점 누적 되었습니다!
현재 누적 점수: 5 / 100

### 문제 1-2) 기초 전처리 02 (10점) 
- 1-1의 DataFrame(df_target)을 아래의 조건에 맞게 변경하세요.
<br></br>
    - 조건1: '여자' Column(열)명의 Data 중 float Type으로 변경할 수 있는 경우 float(numpy.float64)으로 Type을 변경하고, 불가능한 경우 해당 Data의 값을 Null값(None)으로 변경하세요.
<br></br>
    - 조건2: Index, Column 순서 또는 Data 순서(정렬)는 변경하지 마세요.
<br></br>
    - 조건3: 'df_target' 변수에 결과 DataFrame을 할당하세요.
<br></br>
<br></br>
    - hint1: python 예외처리(try-except)를 활용해보세요.
<br></br>
    - hint2: 현재 df_target의 '여자' Column(열) data들의 Type은 str입니다.
<br></br>
<br></br>
- 완료 후 결과 DataFrame 변수(df_target)를 check_01_02 함수에 입력하여 채점하세요.

In [5]:
try:
    df_target['여자'] = pd.to_numeric(df_target['여자'], errors='coerce')
except:
    print('문제가 발생하였습니다.')
df_target

       기간    구분1     구분2    전체    남자   여자
0    2009      시     서울시  24.3  45.5  4.0
1    2009  생애주기별  19~29세  24.9  43.8  6.0
2    2009  생애주기별  30~44세  29.9  55.1  3.8
3    2009  생애주기별  45~64세  22.6  43.2  3.3
4    2009  생애주기별  65세 이상  11.5  22.8  2.9
..    ...    ...     ...   ...   ...  ...
424  2019      구     관악구  18.0  30.3  5.6
425  2019      구     서초구  12.6  25.1  1.5
426  2019      구     강남구  14.7  26.6  4.2
427  2019      구     송파구  14.9  28.8  NaN
428  2019      구     강동구  18.5  34.8  2.9

[429 rows x 6 columns]

In [6]:
check_01_02(df_target)

정답입니다! 10점 누적 되었습니다!
현재 누적 점수: 15 / 100

### 문제 1-3) 기초 전처리 03 (5점) 
- 1-2의 DataFrame(df_target)을 아래의 조건에 맞게 변경하세요.
<br></br>
    - df_target의 '구분' Column(열) Data 중 '교육수준별Ⅱ(65세 이상)'의 Data들은 Null값이 너무 많아 분석 대상에서 제외하려고 합니다.
<br></br>
<br></br>
    - 조건1: '구분' Column(열)이 '교육수준별Ⅱ(65세 이상)'인 Row(행)을 삭제하세요.
<br></br>
    - 조건2: Index, Column 순서 또는 Data 순서(정렬)는 변경하지 마세요.
<br></br>
    - 조건3: 'df_target' 변수에 결과 DataFrame을 할당하세요.
<br></br>
<br></br>
- 완료 후 결과 DataFrame 변수(df_target)를 check_01_02 함수에 입력하여 채점하세요.

In [7]:
df_target = df_target[df_target['구분1'] != '교육수준별Ⅱ(65세 이상)']
df_target

       기간    구분1     구분2    전체    남자   여자
0    2009      시     서울시  24.3  45.5  4.0
1    2009  생애주기별  19~29세  24.9  43.8  6.0
2    2009  생애주기별  30~44세  29.9  55.1  3.8
3    2009  생애주기별  45~64세  22.6  43.2  3.3
4    2009  생애주기별  65세 이상  11.5  22.8  2.9
..    ...    ...     ...   ...   ...  ...
424  2019      구     관악구  18.0  30.3  5.6
425  2019      구     서초구  12.6  25.1  1.5
426  2019      구     강남구  14.7  26.6  4.2
427  2019      구     송파구  14.9  28.8  NaN
428  2019      구     강동구  18.5  34.8  2.9

[396 rows x 6 columns]

In [8]:
check_01_03(df_target)

정답입니다! 5점 누적 되었습니다!
현재 누적 점수: 20 / 100

## 2단계: DataFrame 전처리 02 - 심화
***

### 문제 2-1) 심화 전처리 01 (10점) 
- 1단계의 DataFrame(df_target)을 아래의 조건에 맞게 변경하세요.
<br></br>
    - df_target '여자' Column(열)의 Data에 Null값을 채우고자 합니다. 
<br></br>
    - Null값을 채우는 방법으로는 여러가지가 있는데, 이 Test에서는 '전체'와 '남자', '여자' Column(열)의 Data를 이용하여 '여자비율'을 구하고, '여자비율'의 변화를 확인하여 Null값을 채워보려고 합니다.
<br></br>
    - **df_target.전체 = df_target.여자 * x/100 + df_target.남자 * (1 - x/100)** 에서의 x% 값이 '여자비율'입니다.
<br></br>
    - 예시
<br></br>
    <img src="./[문제보기용 이미지]images/06-2-1-001.png" style="margin:auto" width=400/>
<br></br>
<br></br>
    - 조건1: '여자' Column(열)의 Data가 Null값(None)이 아닌 경우 위의 수식에 따른 '여자비율'을 구하여 '여자비율' Column에 입력하세요(위 예시를 참고).
        - '여자비율' Column(열)의 Data는 소숫점 일곱 번째 자리에서 반올림하여 소숫점 여섯 번째까지 입력해주세요.
        - '여자비율' Column(열) Data의 Type은 float(numpy.float64)이어야 합니다.
<br></br>
    - 조건2: '여자' Column(열)의 Data가 Null값(None)인 경우 '여자비율' Column에 Null값(None)을 입력하세요(위 예시를 참고).
<br></br>
    - 조건3: Index, Column 순서 또는 Data 순서(정렬)는 변경하지 마세요.
<br></br>
    - 조건4: 'df_target' 변수에 결과 DataFrame을 할당하세요.
<br></br>
<br></br>
    - hint1: 방정식을 풀기 위한 Python Library로 Sympy 등이 있습니다. 해당 문제는 sympy를 이용해서 풀수도 있고, 비교적 쉬운 1차 방정식이므로 수식을 직접 전개해서 풀어도 상관 없습니다.
<br></br>
<br></br>
- 완료 후 결과 dataframe 변수(df_target)를 check_02_01 함수에 입력하여 채점하세요.

In [9]:
df_target['여자비율'] = round(100 * ((df_target['전체'] - df_target['남자']) / (df_target['여자'] - df_target['남자'])), 6)
# df_target['여자비율'] = pd.to_numeric(df_target['여자비율'], errors='coerce')
df_target

C:\Users\User\AppData\Local\Temp\ipykernel_34528\571823351.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_target['여자비율'] = round(100 * ((df_target['전체'] - df_target['남자']) / (df_target['여자'] - df_target['남자'])), 6)

       기간    구분1     구분2    전체    남자   여자       여자비율
0    2009      시     서울시  24.3  45.5  4.0  51.084337
1    2009  생애주기별  19~29세  24.9  43.8  6.0  50.000000
2    2009  생애주기별  30~44세  29.9  55.1  3.8  49.122807
3    2009  생애주기별  45~64세  22.6  43.2  3.3  51.629073
4    2009  생애주기별  65세 이상  11.5  22.8  2.9  56.783920
..    ...    ...     ...   ...   ...  ...        ...
424  2019      구     관악구  18.0  30.3  5.6  49.797571
425  2019      구     서초구  12.6  25.1  1.5  52.966102
426  2019      구     강남구  14.7  26.6  4.2  53.125000
427  2019      구     송파구  14.9  28.8  NaN        NaN
428  2019      구     강동구  18.5  34.8  2.9  51.097179

[396 rows x 7 columns]

In [10]:
check_02_01(df_target)

정답입니다! 10점 누적 되었습니다!
현재 누적 점수: 30 / 100

### 문제 2-2) 심화 전처리 02 (10점) 
- 2-1의 DataFrame(df_target)을 이용하여 아래의 조건에 맞는 정보를 구하여 DataFrame(df_result)으로 나타내세요.
<br></br>
    - df_target의 '여자' Column Data의 Null값(None)을 채우기 위한 근거로 아래와 같은 정보를 구하려고 합니다.
<br></br>
    - 2-1에서 구한 df_target '여자비율' Column Data의 연간 변동 정도를 '구분2' Column(열) Data 중 '여자비율'이 Null값(None)이 있는 '구분2' Data 별로 다양한 방법(회귀계수(coefficient), MinMax, 평균, 표준편차)을 이용하여 확인해보려 합니다.
<br></br>
    - 회귀계수란?
        - 선형 모형에서 x와 y의 관계를 수식으로 y = w * x + b 로 나타낼 수 있습니다.
        - 이 식에서 w(기울기)와 b(절편)를 회귀계수(cofficient)라고 합니다.
        - 독립변수 x가 1 증가할 때마다 종속변수 y는 w만큼 증가합니다.
        - 아래의 조건2에서 우리가 구하고자 하는 것은 회귀계수 중 기울기(w)이며, 편의상 w를 '회귀계수'라 표현하겠습니다.
<br></br>
    - 아래 예시는 아래의 조건에 맞추어 '전체' Column(열) Data의 연간 변동을 '구분2' Column(열) 별로 확인해 본 것 입니다.
<br></br>
        - 예시1
<br></br>
            <img src="./[문제보기용 이미지]images/06-2-2-001.png" style="margin:auto" width=400/>
<br></br>
<br></br>
    - 조건1: 결과 DataFrame의 Column(열)명은 ['구', '회귀계수', 'MinMax', '평균', '표준편차'] 로 만들어주세요.
<br></br>
    - 조건2: '여자' 또는 '여자비율' Column(열) Data가 Null값(None)이 아닌 Row(행)의 '구분2' Column(열) Data를 구하고, 오름차순으로 정렬하세요.
<br></br>
        - 예시2: df_target의 일부입니다. 아래 그림에 대한 조건2의 결과는 [노원구, 동작구, 서초구] 입니다.
<br></br>
        <img src="./[문제보기용 이미지]images/06-2-2-002.png" style="margin:auto" width=400/>
<br></br>
    - 조건3: 조건2에 해당하는 Data 각각 '기간' Column(열) Data의 변화에 따른 '여자비율' Column(열)의 변동을 나타내는 '회귀계수'를 구하세요. 이 결과를 결과 DataFrame의  '회귀계수' Column(열)에 입력하세요.
        - 단순회귀분석(1차, 직선)의 회귀계수 중 기울기를 의미합니다. 위의 '회귀계수란?'을 참고해주세요.
        - 위 그림의 예시2에 따르면 [노원구, 동작구, 서초구] 각각에 대한 기간별 '회귀계수'를 구하면 됩니다.
        - '기간' Column(열)의 Data가 x가 됩니다.
        - '여자비율' Column(열) Data 가 y가 됩니다.
        - 소숫점 일곱번째 자리에서 반올림하여 여섯번째 자리까지만 나타내세요.
        - 당연히 Null값(None)이 있는 Row(행)은 계산시 제외됩니다.
<br></br>
    - 조건4: 조건2에 해당하는 Data 각각 '여자비율' Column(열) Data의 최대값과 최소값의 차이(MinMax)를 구하세요. 이 결과를 결과 DataFrame의  'MinMax' Column(열)에 입력하세요.
        - 위 그림의 예시2에 따르면 [노원구, 동작구, 서초구] 각각에 대한 최대값과 최소값의 차이를 구하면 됩니다.
        - 소숫점 일곱번째 자리에서 반올림하여 여섯번째 자리까지만 나타내세요.
        - 절대값(양수)으로 표현하세요.
        - 당연히 Null값(None)이 있는 Row(행)은 계산시 제외됩니다.
<br></br>
    - 조건5: 조건2에 해당하는 Data 각각 '여자비율' Column(열)의 평균을 구하세요. 이 결과를 결과 DataFrame의 '평균' Column(열)에 입력하세요.
        - 위 그림의 예시2에 따르면 [노원구, 동작구, 서초구] 각각에 대한 평균을 구하면 됩니다.
        - 소숫점 일곱번째 자리에서 반올림하여 여섯번째 자리까지만 나타내세요.
        - 절대값(양수)으로 표현하세요.
        - 당연히 Null값(None)이 있는 Row(행)은 계산시 제외됩니다.
<br></br>
    - 조건5: 조건2에 해당하는 Data 각각 '여자비율' Column(열)의 평균을 구하세요. 이 결과를 결과 DataFrame의 '표준편차' Column(열)에 입력하세요.
        - 위 그림의 예시2에 따르면 [노원구, 동작구, 서초구] 각각에 대한 표준편차을 구하면 됩니다.
        - 소숫점 일곱번째 자리에서 반올림하여 여섯번째 자리까지만 나타내세요.
        - 절대값(양수)으로 표현하세요.
        - 당연히 Null값(None)이 있는 Row(행)은 계산시 제외됩니다.
<br></br>
    - 조건6: 조건2의 Data를 순서대로 조건3~5의 값을 구하고 DataFrame을 만든다면, 결과 DataFrame의 '구' Column(열)을 기준으로 오름차순으로 정렬되어 있을 것 입니다. 만약 정렬되어있지 않다면, '구'를 기준으로 정렬하고 Index를 초기화하세요.
<br></br>
    - 조건7: 'df_result' 변수에 결과 DataFrame을 할당하세요.
<br></br>
<br></br>
    - hint1: 조건3 관련하여 이전에 배웠던 np.polyfit 함수를 응용해보세요.
<br></br>
    - hint2: 조건3 관련하여 정답 중 '강동구'의 '회귀계수'는 0.052052 입니다.
<br></br>
    - hint3: 예시1의 그림과 Index/Column이 동일합니다. 안의 숫자만 다릅니다.
<br></br>
<br></br>
- 완료 후 결과 dataframe 변수(df_result)를 check_02_02 함수에 입력하여 채점하세요.

In [11]:
import numpy as np

df_target_null = df_target[df_target['여자비율'].isnull() == True]['구분2'].unique()
valid_gu = df_target[df_target['여자'].notnull() | df_target['여자비율'].notnull()]['구분2'].unique()

valid_gu.sort()

df_result = pd.DataFrame(columns=['구', '회귀계수', 'MinMax', '평균', '표준편차'])

for gu in valid_gu:
    if gu in df_target_null:
        gu_df = df_target[df_target['구분2'] == gu]
        valid_rows = gu_df['여자비율'].notnull()
        X = gu_df.loc[valid_rows, '기간']
        y = gu_df.loc[valid_rows, '여자비율']
        회귀계수 = np.polyfit(X, y, deg=1)[0]  # 기울기(w)만 필요하므로 degree를 1로 설정
        df_result = df_result.append({'구': gu, '회귀계수': round(회귀계수, 6)}, ignore_index=True)

for gu in valid_gu:
    if gu in df_target_null:
        gu_df = df_target[(df_target['구분2'] == gu)]
        valid_rows = gu_df['여자비율'].notnull()
        min_value = gu_df.loc[valid_rows, '여자비율'].min()
        max_value = gu_df.loc[valid_rows, '여자비율'].max()
        min_max_diff = abs(max_value - min_value)
        df_result.loc[df_result['구'] == gu, 'MinMax'] = round(min_max_diff, 6)

for gu in valid_gu:
    if gu in df_target_null:
        gu_df = df_target[(df_target['구분2'] == gu)]
        valid_rows = gu_df['여자비율'].notnull()
        mean_value = abs(gu_df.loc[valid_rows, '여자비율'].mean())
        df_result.loc[df_result['구'] == gu, '평균'] = round(mean_value, 6)
    
for gu in valid_gu:
    if gu in df_target_null:
        gu_df = df_target[(df_target['구분2'] == gu)]
        valid_rows = gu_df['여자비율'].notnull()
        std_value = abs(gu_df.loc[valid_rows, '여자비율'].std())
        df_result.loc[df_result['구'] == gu, '표준편차'] = round(std_value, 6)

df_result

C:\Users\User\AppData\Local\Temp\ipykernel_34528\731449805.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append({'구': gu, '회귀계수': round(회귀계수, 6)}, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_34528\731449805.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append({'구': gu, '회귀계수': round(회귀계수, 6)}, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_34528\731449805.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append({'구': gu, '회귀계수': round(회귀계수, 6)}, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_34528\731449805.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append({'구': gu, '회귀계수': round(회귀계수, 6)}, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_34528\731449805.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append({'구': gu, '회귀계수': round(회귀계수, 6)}, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_34528\731449805.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append({'구': gu, '회귀계수': round(회귀계수, 6)}, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_34528\731449805.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append({'구': gu, '회귀계수': round(회귀계수, 6)}, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_34528\731449805.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append({'구': gu, '회귀계수': round(회귀계수, 6)}, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_34528\731449805.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append({'구': gu, '회귀계수': round(회귀계수, 6)}, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_34528\731449805.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append({'구': gu, '회귀계수': round(회귀계수, 6)}, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_34528\731449805.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append({'구': gu, '회귀계수': round(회귀계수, 6)}, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_34528\731449805.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append({'구': gu, '회귀계수': round(회귀계수, 6)}, ignore_index=True)

       구      회귀계수    MinMax         평균      표준편차
0    강동구  0.052052  0.701401   50.63195  0.234364
1    구로구  0.085093  1.011929  50.267907  0.308975
2    노원구  0.016932  0.400031  52.033941  0.163113
3    도봉구  0.024619  0.580787  51.265114  0.156111
4   동대문구  0.042682  0.488017  50.060631  0.149287
5    동작구  0.054593  0.531461  51.427075  0.204068
6   서대문구  0.059956  0.935272  51.826214  0.278914
7    서초구  0.066071  0.841456  52.552076  0.266111
8    성동구  0.097432  1.129327  50.518469  0.362912
9    송파구 -0.019510  0.285715  51.585111  0.104579
10   양천구  0.024970  0.378362  51.171848   0.13284
11  영등포구  0.082978   0.88968  50.260807  0.297206

In [12]:
check_02_02(df_result)

정답입니다! 10점 누적 되었습니다!
현재 누적 점수: 40 / 100

### 문제 2-3) 심화 전처리 03 (10점) 
- 2-2의 DataFrame(df_result)을 이용하여 아래의 조건에 맞는 정보를 구하여 2-1의 DataFrame(df_target)에 입력하세요.
<br></br>
    - df_target의 '여자' Column Data의 Null값(None)을 채우기 위해 우선 위에서 구한 df_result값을 이용하려고 합니다.
<br></br>
    - 2-2의 df_result를 보면,
        - '회귀계수'의 경우 대부분 양수지만 아주 작은 값을 가지고 있습니다. 강동구의 경우 1년이 지날때 '여자비율'은 약 0.05% 정도 상승한다는 의미입니다.
        - 'MinMax'의 경우 최대 '여자비율'과 최소 '여자비율'의 차가 가장 큰 부분도 1.2%p 미만 수준입니다.
        - '표준편차'의 경우 대부분 평균의 0.5% 미만 수준으로 평균에 대부분의 '여자비율' Data들이 몰려있다고 보여집니다.
<br></br>
    - 따라서 '기간'(연도) 별로 '여자비율'은 평균에서 큰 차이가 없다고 판단되어 df_target의 '여자비율' Null값(None)에 df_result '구'('구분2') Data의 '평균' Data를 입력하려고 합니다.
<br></br>
    - 예시(df_result에서 '회귀계수'를 제외한 값은 실제와 값이 다름)
<br></br>
        <img src="./[문제보기용 이미지]images/06-2-3-001.png" style="margin:auto" width=800/>
<br></br>
<br></br>
    - 조건1: df_result의 '구'별 '평균' Data로 df_target의 '구분2'별 '여자비율' Data 중 Null값(None)을 대체하세요(위 예시 참고).
        - 소숫점 일곱번째 자리에서 반올림하여 여섯번째 자리까지만 나타내세요.
<br></br>
    - 조건2: 결과 DataFrame(df_target)의 Index, Column 순서 또는 Data 순서(정렬)는 변경하지 마세요.
<br></br>
    - 조건3: 'df_target' 변수에 결과 DataFrame을 할당하세요.
<br></br>
<br></br>
- 완료 후 결과 dataframe 변수(df_target)를 check_02_03 함수에 입력하여 채점하세요.

In [13]:
for idx, row in df_result.iterrows():
    df_target.loc[df_target['구분2'] == row['구'], '여자비율'] = df_target.loc[df_target['구분2'] == row['구'], '여자비율'].fillna(row['평균'])

df_target

       기간    구분1     구분2    전체    남자   여자       여자비율
0    2009      시     서울시  24.3  45.5  4.0  51.084337
1    2009  생애주기별  19~29세  24.9  43.8  6.0  50.000000
2    2009  생애주기별  30~44세  29.9  55.1  3.8  49.122807
3    2009  생애주기별  45~64세  22.6  43.2  3.3  51.629073
4    2009  생애주기별  65세 이상  11.5  22.8  2.9  56.783920
..    ...    ...     ...   ...   ...  ...        ...
424  2019      구     관악구  18.0  30.3  5.6  49.797571
425  2019      구     서초구  12.6  25.1  1.5  52.966102
426  2019      구     강남구  14.7  26.6  4.2  53.125000
427  2019      구     송파구  14.9  28.8  NaN  51.585111
428  2019      구     강동구  18.5  34.8  2.9  51.097179

[396 rows x 7 columns]

In [14]:
check_02_03(df_target)

정답입니다! 10점 누적 되었습니다!
현재 누적 점수: 50 / 100

### 문제 2-4) 심화 전처리 04 (10점) 
- 2-3의 DataFrame(df_target)을 아래의 조건에 맞게 변경하세요.
<br></br>
    - 이제까지 위에서 구했던 '전체', '남자', '여자비율' Column(열) Data를 활용하여 df_target의 '여자' Column Data의 Null값(None)을 채우려고 합니다.
<br></br>
    - **# df_target.전체 = df_target.여자비율/100 * x + (1 - df_target.여자비율/100) * df_target.남자** 에서의 x% 값이 '여자' 입니다.
<br></br>
<br></br>
    - 조건1: '여자' Column(열)의 Data가 Null값(None)인 경우 위의 수식에 따라 '여자'를 구하여 '여자' Column에 입력하세요.
        - '여자' Column(열)의 Data는 소숫점 두 번째 자리에서 반올림하여 소숫점 첫 번째까지 입력해주세요.
        - '여자' Column(열) Data의 Type은 float(numpy.float64)이어야 합니다.
<br></br>
    - 조건2: 조건1을 수행한 후 '여자비율' Column(열)을 삭제하세요.
<br></br>
    - 조건3: Index, Column 순서 또는 Data 순서(정렬)는 변경하지 마세요.
<br></br>
    - 조건4: 'df_target' 변수에 결과 DataFrame을 할당하세요.
<br></br>
<br></br>
    - hint1: 2-1과 같이 방정식을 풀기 위한 Python Library로 Sympy 등이 있습니다. 해당 문제는 sympy를 이용해서 풀수도 있고, 비교적 쉬운 1차 방정식이므로 수식을 직접 전개해서 풀어도 상관 없습니다.
<br></br>
<br></br>
- 완료 후 결과 dataframe 변수(df_target)를 check_02_04 함수에 입력하여 채점하세요.

In [15]:
for idx, row in df_result.iterrows():
    df_target.loc[df_target['구분2'] == row['구'], '여자'] = df_target.loc[df_target['구분2'] == row['구'], '여자'].fillna(round((df_target['전체'] - (1 - df_target['여자비율'] / 100) * df_target['남자']) * 100 / df_target['여자비율'], 1))

df_target = df_target.drop(columns='여자비율', axis=1)
df_target


# df_target['여자'] = (df_target['전체'] - (1 - df_target['여자비율'] / 100) * df_target['남자']) * (100 / df_target['여자비율'])

       기간    구분1     구분2    전체    남자   여자
0    2009      시     서울시  24.3  45.5  4.0
1    2009  생애주기별  19~29세  24.9  43.8  6.0
2    2009  생애주기별  30~44세  29.9  55.1  3.8
3    2009  생애주기별  45~64세  22.6  43.2  3.3
4    2009  생애주기별  65세 이상  11.5  22.8  2.9
..    ...    ...     ...   ...   ...  ...
424  2019      구     관악구  18.0  30.3  5.6
425  2019      구     서초구  12.6  25.1  1.5
426  2019      구     강남구  14.7  26.6  4.2
427  2019      구     송파구  14.9  28.8  1.9
428  2019      구     강동구  18.5  34.8  2.9

[396 rows x 6 columns]

In [16]:
check_02_04(df_target)

정답입니다! 10점 누적 되었습니다!
현재 누적 점수: 60 / 100

## 3단계: 원하는 정보 얻기
***

### 문제 3-1) 원하는 정보 얻기 01 (10점)
- 2단계의 DataFrame(df_target)을 이용하여 아래의 조건에 맞는 정보를 구하세요.
<br></br>
    - df_target '구분2' Column(열)의 '전체', '남자', '여자' 흡연율이 해마다 단조적(monotonic)으로 증가 또는 감소하는지 확인하고자 합니다.
<br></br>
    - 단조 증가 / 단조 감소
        - 어떤 수열이나 함수가 있을 때, 해당 수열이나 함수가 정의된 구간에서 감소하지 않는 경우를 단조증가, 증가하지 않는 경우를 단조감소 한다고 표현한다. 
        - 다시말해, 중간에 감소 한번 없이 지속해서 증가하는 경우 단조 증가, 중간에 증가 없이 지속해서 감소하는 경우 단조 감소한다고 한다.
<br></br>
<br></br>
    - 조건1: 결과 DataFrame의 Column(열)명은 ['구분1', '구분2', '전체', '남자','여자'] 입니다.
<br></br>
    - 조건2: '구분2' 별로 '전체', '남자', '여자' Column(열) Data가 '기간' Column(열)에 따라 단조적으로 변화하는지 아닌지 확인하세요.
        - 단조적으로 변화한다는 것은 단조 증가 변화와 단조 감소 변화를 모두 포괄하는 말입니다.
        - 단조적으로 변화한다면 True, 그렇지 않다면 False를 입력하세요.
<br></br>
    - 조건3: ['구분1', '구분2']를 기준으로 오름차순으로 순서를 변경(sort)하고 Index를 Reset하세요.
<br></br>
    - 예시(임의의 boolean값을 넣었습니다.)
<br></br>
        <img src="./[문제보기용 이미지]images/06-3-1-001.png" style="margin:auto" width=400/> 
<br></br>
    - 조건4: 'df_result' 변수에 결과 DataFrame을 할당하세요.
<br></br>
<br></br>
- 완료 후 결과 dataframe 변수(df_result)를 check_03_01 함수에 입력하여 채점하세요.

In [17]:
df_result = df_target.copy()
df_result = df_result.groupby(['구분1', '구분2']).count()
df_result['전체'] = df_target.groupby(['구분1', '구분2']).apply(lambda x: x['전체'].is_monotonic_increasing or x['전체'].is_monotonic_decreasing)
df_result['남자'] = df_target.groupby(['구분1', '구분2']).apply(lambda x: x['남자'].is_monotonic_increasing or x['남자'].is_monotonic_decreasing)
df_result['여자'] = df_target.groupby(['구분1', '구분2']).apply(lambda x: x['여자'].is_monotonic_increasing or x['여자'].is_monotonic_decreasing)
# df_result = df_result.sort_values(by=['구분1', '구분2']).reset_index(drop=True)
df_result = df_result.drop('기간', axis=1)
df_result = df_result.reset_index()
df_result

               구분1      구분2     전체     남자     여자
0   교육수준별Ⅰ(30~64세)       고졸  False  False  False
1   교육수준별Ⅰ(30~64세)     대졸이상  False  False  False
2   교육수준별Ⅰ(30~64세)     중졸이하  False  False  False
3                구      강남구  False  False  False
4                구      강동구  False  False  False
5                구      강북구  False  False  False
6                구      강서구  False  False  False
7                구      관악구  False  False  False
8                구      광진구  False  False  False
9                구      구로구  False  False  False
10               구      금천구  False  False  False
11               구      노원구  False  False  False
12               구      도봉구  False  False  False
13               구     동대문구  False  False  False
14               구      동작구  False  False  False
15               구      마포구  False  False  False
16               구     서대문구  False  False  False
17               구      서초구  False  False  False
18               구      성동구  False  False  False
19               구      성북구  False  False  False
20               구      송파구  False  False  False
21               구      양천구  False  False  False
22               구     영등포구  False  False  False
23               구      용산구  False  False  False
24               구      은평구  False  False  False
25               구      종로구  False  False  False
26               구       중구  False  False  False
27               구      중랑구  False  False  False
28           생애주기별   19~29세  False  False  False
29           생애주기별   30~44세  False  False  False
30           생애주기별   45~64세  False  False  False
31           생애주기별   65세 이상  False  False  False
32               시      서울시  False  False  False
33     직업별(30~64세)      사무직  False  False  False
34     직업별(30~64세)  서비스ㆍ판매직  False  False  False
35     직업별(30~64세)      육체직  False  False  False

In [18]:
check_03_01(df_result)

정답입니다! 10점 누적 되었습니다!
현재 누적 점수: 70 / 100

### 문제 3-2) 원하는 정보 얻기 02 (10점)
- 2단계의 DataFrame(df_target)을 이용하여 아래의 조건에 맞는 정보를 구하세요.
<br></br>
    - df_target '구분2' Column(열)의 '전체', '남자', '여자' 흡연율이 해를 거듭할수록 증가 또는 감소하는지 회귀계수를 통해서 확인하고자 합니다.
<br></br>
    - 회귀계수에 대해서는 앞의 2-2 문제를 참고해주세요.
<br></br>
<br></br>
    - 조건1: 결과 DataFrame의 Column(열)명은 ['구분1', '구분2', '전체', '남자','여자'] 입니다.
<br></br>
    - 조건2: '구분2' 별로 '전체', '남자', '여자' Column(열) Data에 대해 '기간'에 따른 회귀계수를 구하세요.
<br></br>
    - 조건3: ['구분1', '구분2']를 기준으로 오름차순으로 순서를 변경(sort)하고 Index를 Reset하세요.
<br></br>
    - 예시(임의의 float값을 넣었습니다.)
<br></br>
        <img src="./[문제보기용 이미지]images/06-3-2-001.png" style="margin:auto" width=400/> 
<br></br>
    - 조건4: 'df_result' 변수에 결과 DataFrame을 할당하세요.
<br></br>
<br></br>
- 완료 후 결과 dataframe 변수(df_result)를 check_03_02 함수에 입력하여 채점하세요.

In [19]:
import statsmodels.api as sm

def calculate_regression_coefficients(series):
    X = np.arange(len(series))  # '기간'을 독립 변수로 설정
    X = sm.add_constant(X)  # 상수항을 추가
    y = series.values  # 종속 변수

    model = sm.OLS(y, X)  # 선형 회귀모델 생성
    results = model.fit()  # 회귀모델 피팅
    return results.params[1]  # 기울기(회귀계수) 반환

df_result = df_target.sort_values(by=['구분1', '구분2']).reset_index(drop=True)

df_result['전체'] = df_result.groupby('구분2')['전체'].transform(calculate_regression_coefficients)
df_result['남자'] = df_result.groupby('구분2')['남자'].transform(calculate_regression_coefficients)
df_result['여자'] = df_result.groupby('구분2')['여자'].transform(calculate_regression_coefficients)

df_result = round(df_result.groupby(['구분1', '구분2']).mean(), 6)

df_result = df_result.drop('기간', axis=1)
df_result = df_result.reset_index()
df_result

               구분1      구분2        전체        남자        여자
0   교육수준별Ⅰ(30~64세)       고졸 -0.367273 -0.797273  0.074545
1   교육수준별Ⅰ(30~64세)     대졸이상 -0.872727 -1.285455 -0.013636
2   교육수준별Ⅰ(30~64세)     중졸이하  0.006364 -0.205455  0.075455
3                구      강남구 -0.488182 -0.910909 -0.124545
4                구      강동구 -0.909091 -1.543636 -0.260000
5                구      강북구 -0.522727 -0.956364 -0.062727
6                구      강서구 -0.507273 -1.085455  0.082727
7                구      관악구 -0.583636 -1.073636 -0.057273
8                구      광진구 -0.485455 -1.033636  0.107273
9                구      구로구 -0.794545 -1.485455 -0.056364
10               구      금천구 -0.635455 -1.273636  0.038182
11               구      노원구 -0.530000 -1.214545  0.110000
12               구      도봉구 -0.762727 -1.647273  0.091818
13               구     동대문구 -0.854545 -1.599091 -0.092727
14               구      동작구 -0.649091 -1.423636  0.101818
15               구      마포구 -0.907273 -1.665455 -0.141818
16               구     서대문구 -0.542727 -1.038182 -0.043636
17               구      서초구 -0.587273 -1.049091 -0.137273
18               구      성동구 -0.556364 -1.060000  0.004545
19               구      성북구 -0.834545 -1.621818 -0.033636
20               구      송파구 -0.782727 -1.517273 -0.093636
21               구      양천구 -0.705455 -1.420909 -0.007273
22               구     영등포구 -0.783636 -1.387273 -0.147273
23               구      용산구 -0.831818 -1.455455 -0.222727
24               구      은평구 -0.619091 -1.361818  0.137273
25               구      종로구 -0.641818 -1.177273 -0.073636
26               구       중구 -0.701818 -1.181818 -0.150909
27               구      중랑구 -0.333636 -0.734545  0.086364
28           생애주기별   19~29세 -0.657273 -1.416364  0.141818
29           생애주기별   30~44세 -0.940000 -1.802727 -0.008182
30           생애주기별   45~64세 -0.252727 -0.465455 -0.031818
31           생애주기별   65세 이상 -0.310000 -0.560909 -0.153636
32               시      서울시 -0.660000 -1.286364 -0.027273
33     직업별(30~64세)      사무직 -1.218182 -1.408182 -0.053636
34     직업별(30~64세)  서비스ㆍ판매직 -0.701818 -0.876364  0.012727
35     직업별(30~64세)      육체직 -0.528182 -0.790909 -0.009091

In [20]:
check_03_02(df_result)

정답입니다! 10점 누적 되었습니다!
현재 누적 점수: 80 / 100

### 문제 3-3) 원하는 정보 얻기 03 (10점)
- 3-2의 DataFrame(df_result)을 이용하여 아래의 조건에 맞는 정보를 구하세요.
<br></br>
    - 3-2의 df_result '구분1' Column(열) Data마다 어떤 '구분2' Column(열)의 Data가 '전체' 흡연율 감소율이 높은지/낮은지 알아보고자 합니다.
<br></br>
<br></br>
    - 조건1: 결과 DataFrame의 Column(열)명은 ['구분1', '최대', '최소'] 입니다.
<br></br>
    - 조건2: 회귀계수가 음수(=흡연율이 감소중)인 '구분1' Column(열) Data 중 어떤 '구분2' Column(열) Data가 '전체' 흡연율 감소율이 가장 높은지/낮은지 찾아서 결과 DataFrame에 입력하세요.
        - '구분1' 중 '시'는 '구분2' Data 가 1개(서울시)이므로 제외합니다.
        - 만약, '구분1' Column(열) Data 중 감소중인 '구분2' Column(열) Data가 1개라면, 해당 '구분2' Data를 '최대'에 넣고, '최소' Column(열)에는 None값을 입력하세요.
        - 만약, '구분1' Column(열) Data 중 증가중인 '구분2' Column(열) Data가 없다면, 해당 '구분1' Data는 건너뛰세요.(결과 DataFrame에 입력하지 마세요)
<br></br>
    - 조건3: ['구분1']을 기준으로 오름차순으로 순서를 변경(sort)하고 Index를 Reset하세요.
<br></br>
    - 예시(임의의 값을 넣었습니다.)
<br></br>
        <img src="./[문제보기용 이미지]images/06-3-3-001.png" style="margin:auto" width=300/> 
<br></br>
    - 조건4: 'df_maxmin' 변수에 결과 DataFrame을 할당하세요.
<br></br>
<br></br>
- 완료 후 결과 dataframe 변수(df_maxmin)를 check_03_04 함수에 입력하여 채점하세요.

In [21]:
df_maxmin = df_result.copy()
df_maxmin = df_maxmin[df_maxmin['구분1'] != '시']

valid_gu = df_maxmin['구분1'].unique()
valid_gu.sort()

result_data = []

for gu in valid_gu:
    df_gu = df_maxmin[df_maxmin['구분1'] == gu]    
    max_group = df_gu.loc[df_gu['전체'].idxmax(), '구분2']
    min_group = df_gu.loc[df_gu['전체'].idxmin(), '구분2']
    result_data.append([gu, max_group, min_group])

columns = ['구분1', '최대', '최소']
df_maxmin = pd.DataFrame(result_data, columns=columns)
df_maxmin = df_maxmin.sort_values(by='구분1').reset_index(drop=True)
df_maxmin

              구분1      최대      최소
0  교육수준별Ⅰ(30~64세)    중졸이하    대졸이상
1               구     중랑구     강동구
2           생애주기별  45~64세  30~44세
3     직업별(30~64세)     육체직     사무직

In [22]:
check_03_03(df_maxmin)

정답입니다! 10점 누적 되었습니다!
현재 누적 점수: 90 / 100

### 문제 3-4) 원하는 정보 얻기 04 (10점)
- 3-2의 DataFrame(df_result)을 이용하여 아래의 조건에 맞는 정보를 구하세요.
<br></br>
    - 3-2의 df_result '구분1' Column(열) Data마다 어떤 '구분2' Column(열)의 Data가 '여자' 흡연율 증가율이 높은지/낮은지 알아보고자 합니다.
<br></br>
<br></br>
    - 조건1: 결과 DataFrame의 Column(열)명은 ['구분1', '최대', '최소'] 입니다.
<br></br>
    - 조건2: 회귀계수가 양수(=흡연율이 증가중)인 '구분1' Column(열) Data 중 어떤 '구분2' Column(열) Data가 '여자' 흡연율 감소율이 가장 높은지/낮은지 찾아서 결과 DataFrame에 입력하세요.
        - '구분1' 중 '시'는 '구분2' Data 가 1개(서울시)이므로 제외합니다.
        - 만약, '구분1' Column(열) Data 중 증가중인 '구분2' Column(열) Data가 1개라면, 해당 '구분2' Data를 '최대'에 넣고, '최소' Column(열)에는 None값을 입력하세요.
        - 만약, '구분1' Column(열) Data 중 증가중인 '구분2' Column(열) Data가 없다면, 해당 '구분1' Data는 건너뛰세요.(결과 DataFrame에 입력하지 마세요)
<br></br>
    - 조건3: ['구분1']을 기준으로 오름차순으로 순서를 변경(sort)하고 Index를 Reset하세요.
<br></br>
    - 예시(임의의 값을 넣었습니다.)
<br></br>
        <img src="./[문제보기용 이미지]images/06-3-4-001.png" style="margin:auto" width=300/> 
<br></br>
    - 조건4: 'df_maxmin' 변수에 결과 DataFrame을 할당하세요.
<br></br>
<br></br>
- 완료 후 결과 dataframe 변수(df_maxmin)를 check_03_04 함수에 입력하여 채점하세요.

In [23]:
df_maxmin = df_result.copy()
df_maxmin = df_maxmin[df_maxmin['구분1'] != '시']

valid_gu = df_maxmin['구분1'].unique()
valid_gu.sort()

result_data = []

for gu in valid_gu:
    df_gu = df_maxmin[df_maxmin['구분1'] == gu]    
    max_group = df_gu.loc[df_gu['여자'].idxmax(), '구분2']
    min_group = df_gu.loc[df_gu['여자'].idxmin(), '구분2']
    if df_gu[df_gu['여자'] > 0].shape[0] == 1:
        min_group = np.NaN
    result_data.append([gu, max_group, min_group])

columns = ['구분1', '최대', '최소']
df_maxmin = pd.DataFrame(result_data, columns=columns)
df_maxmin = df_maxmin.sort_values(by='구분1').reset_index(drop=True)
df_maxmin

              구분1       최대    최소
0  교육수준별Ⅰ(30~64세)     중졸이하  대졸이상
1               구      은평구   강동구
2           생애주기별   19~29세   NaN
3     직업별(30~64세)  서비스ㆍ판매직   NaN

In [24]:
check_03_04(df_maxmin)

정답입니다! 10점 누적 되었습니다!
현재 누적 점수: 100 / 100